<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.gatech.cs2340.ratlab">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controllers.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controllers.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".controllers.MainActivity" />
        <activity android:name=".controllers.RegistrationActivity" />
        <activity
            android:name=".controllers.SightingListActivity"
            android:label="@string/title_sighting_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controllers.SightingDetailActivity"
            android:label="@string/title_sighting_detail"
            android:parentActivityName=".controllers.SightingListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.gatech.cs2340.ratlab.controllers.SightingListActivity" />
        </activity>
        <activity android:name=".ReportSighting" />
        <activity android:name=".MapFilter"></activity>
    </application>

</manifest>